.vertical {
  position: absolute;
  height: 100vh;
  width: 2px;
  background-image: repeating-linear-gradient(
    to bottom,
    transparent 0 4px,
    #d78775 4px 8px
  );
  mask-image: linear-gradient(
    to bottom,
    transparent,
    #000 15%,
    #000 85%,
    transparent 100%
  );
}

.horizontal {
  position: absolute;
  left: -50%;
  height: 2px;
  width: 100vw;
  background-image: repeating-linear-gradient(
    90deg,
    transparent 0 4px,
    #d78775 4px 8px
  );
  mask-image: linear-gradient(
    90deg,
    transparent,
    #000 15%,
    #000 85%,
    transparent 100%
  );
}


/* position: "left" | "top" | "right" | "bottom"; */

/* .left {

}

.top {
  
}

.right {

}

.bottom {

} */