.dashed-line {
  /* background-color: red; */
  position: absolute;
  height: 2px;
  width: 100%;
  background-image: repeating-linear-gradient(
    90deg,
    transparent 0 4px,
    #d78775 4px 8px
  );
  mask-image: linear-gradient(
    90deg,
    transparent,
    #000 15%,
    #000 85%,
    transparent 100%
  );
  /* background-image: repeating-linear-gradient(
    90deg,
    transparent,
    transparent 20px,
    black 20px,
    black 40px
  ); */
  /* linear-gradient(to right, black, transparent); */

  /* background: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 20px,
    black 20px,
    black 40px
  );
  background-image: repeating-linear-gradient(
    -45deg,
    transparent 0 20px,
    black 20px 40px
  );
  background-size: 2px 100%;
  background-position: 80%;
  background-repeat: no-repeat; */
}
