@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    scroll-behavior: smooth !important;
  }
} */

html, body {
  scroll-behavior: smooth !important;
  scroll-padding-top: var(--scroll-padding, 500px);
}

